<div class="home-container">
 

  <mat-accordion class="input-section" multi="false">
    <!-- Camera Capture Section -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Camera Input
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="camera-section">
        <video #videoElement width="260" height="200"></video>
        <button mat-raised-button color="primary" (click)="captureImage()">Capture Image</button>
        <img width="320" height="240" [src]="uploadedImageUrl" *ngIf="uploadedImageUrl" class="uploaded-image">
        <div *ngIf="mood">The mood is: {{ mood }}</div>
      </div>
    </mat-expansion-panel>
  
    <!-- Image Upload Section -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Image Upload
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="upload-section">
        <input type="file" (change)="fileInputChange($event)" accept="image/*">
        <img width="320" height="240" [src]="uploadedImageUrl" *ngIf="uploadedImageUrl" class="uploaded-image">
        <div *ngIf="mood">The mood is: {{ mood }}</div>
      </div>
    </mat-expansion-panel>
  
    <!-- Mood Selection Section -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Manual Select
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- <div class="mood-selector">
        <mat-chip-listbox aria-label="Mood selection" [multiple]="false" [value]="mood" [selectable]="true">
          <mat-chip-option *ngFor="let moodItem of moodItems" [value]="moodItem.value" [selected]="moodItem.value == mood" (selectionChange)="selectMood(moodItem.value)">
             {{ moodItem.name }}{{ moodItem.icon }}
          </mat-chip-option>
        </mat-chip-listbox>
      </div> -->

      <div class="mood-selector">
        <mat-radio-group aria-label="Mood selection" [(ngModel)]="mood" (change)="selectMood()">
          <mat-radio-button *ngFor="let moodItem of moodItems" [value]="moodItem.value">
            {{ moodItem.name }} {{ moodItem.icon }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      
      
    </mat-expansion-panel>
    
  </mat-accordion>
  
  <div class="output-section" >
    <!-- Spotify Integration will go here -->
    <!-- <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/64oM9dBfB4TKqMtwSdoduu?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe> -->
    <app-spotify [mood] = "mood"></app-spotify>
  </div>
</div>
